nz-header {
    background-color: white;
}

nz-sider {
    background-color: #101219;
    border: 1px solid transparent;
    position: fixed;
    height: 100dvh;
    
}

nz-content {
    background-color: #f9fafb;
    padding-left: 250px;
    @media (max-width: 767px) {
        padding-left: 100px;
    }
}

.active-link {
    color: #2dd3b1
}

.menu {
    li:hover {
        color: #2dd3b1;
    }
}

