<div class="flex flex-col p-4">
    <div class="flex sm:flex-row flex-col justify-between">
        <div class="flex flex-col">
            <p class="sm:text-2xl text-base font-semibold sm:h-[10px] ">Content Management</p>
            <p class="text-gray-500 sm:text-sm text-xs">Create, manage and schedule health articles and tips</p>
        </div>
        <div class="p-4">
            <button nz-button nzType="primary" class="add-article" (click)="showModal()">
                <a class="flex flex-row gap-3">
                    <nz-icon nzType="plus" nzTheme="outline" class="relative bottom-2 font-black"></nz-icon>
                    <p class="sm:text-sm text-xs font-semibold">New Article</p>
                </a>
            </button>
        </div>
    </div>
    <!-- Create article modal -->
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="createArticle" [nzFooter]="null" 
    (nzOnCancel)="handleCancel()">
            <ng-container *nzModalContent>
                <form [formGroup]="articleElement">
                    <div class="flex flex-col">
                        <label for="title" class="font-medium">Title*</label>
                        <input type="text" placeholder="Enter Article Title" name="title" id="title">
                        <div class="flex flex-row mt-4 gap-4">
                            <div class="flex flex-col">
                                <label for="category" class="font-medium">Category*</label>
                                <select formControlName="categories" id="category">
                                    @for(category of categories; track category.name) {
                                        <option [ngValue]="category">{{category.name}}</option>
                                    }
                                </select>
                            </div>
                            <div class="flex flex-col w-full">
                                <label for="date" class="font-medium">Schedule date*</label>
                                <input type="date" formControlName="date">
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-col mt-4">
                        <p class="h-[10px] font-medium">Cover Image*</p>
                        <div class="flex flex-col border-2 border-dashed border-gray-300 items-center text-center p-10 cursor-pointer h-[150px]">
                            <nz-upload [nzBeforeUpload]="$any(beforeUpload)"
                            [nzShowUploadList]="false">
                                <nz-icon nzType="file-image" nzTheme="outline" class="sm:text-3xl text-xl" 
                                    style="color: var(--color-gray-500);"></nz-icon>
                                <p class="relative top-2 text-gray-500">Click to upload image file</p>
                            </nz-upload>
                        </div>
                    </div>
                    <div class="flex flex-col mt-4">
                       <label for="content" class="font-medium">Content*</label>
                       <textarea id="content" placeholder="Write your article content here...."></textarea>
                    </div>
                    <div class="flex flex-col">
                        <p class="font-medium relative top-4">Assign to communities*</p>
                        @for(community of communities; track community.name) {
                            <div class="flex flex-row gap-2 mt-2">
                                <input type="checkbox" 
                                [value]="community.name"
                                (change)="onCheckBoxChange($event)"
                                >
                                <label [for]="community.name"> {{community.name}}</label>
                            </div>
                        }
                    </div>
                    <div class="flex flex-row gap-4 justify-end">
                        <button nz-button nzType="primary" class="btn-draft">
                            Save as Draft
                        </button>
                        <button type="submit" nz-button nzType="primary" 
                            style="background-color:  #27a288; border-color:  #27a288; border-radius: 9px; height: 40px;">
                            Published Now
                        </button>
                    </div>
                </form>
            </ng-container>
    </nz-modal>


    <div class="grid sm:grid-cols-4 gap-2 mt-4">
        @for (card of cards; track card.index) {
            <div class="bg-white rounded-lg shadow cursor-pointer border-1 hover:border-green-200 border-transparent p-4 sm:h-[100px] h-[80px]">
                <p class="sm:text-[12px] text-[10px] text-gray-500 font-medium tracking-widest">{{card.label.toUpperCase()}}</p>
                <p class="sm:text-xl text-base font-bold">{{card.value}}</p>
            </div>
        }
    </div>
    <div class="bg-white rounded-lg shadow mt-8 p-4">
        <div class="flex flex-row justify-between">
            <h1 class="text-base">Articles</h1>
            <div class="flex flex-row gap-4">
                <form>
                    <nz-icon nzType="search" class="absolute m-2 text-lg" style="color: var(--color-gray-400);"> </nz-icon>
                    <input type="search" placeholder="Search Article" [formControl]="search">
                </form>
                <button nz-button nz-dropdown nzTrigger="click" class="menu" [nzDropdownMenu]="status">
                   {{menuItemStatus.value}}
                   <nz-icon nzType="down" nzTheme="outline"></nz-icon>
                </button>
                <nz-dropdown-menu #status="nzDropdownMenu">
                   <ul nz-menu>
                       <li nz-menu-item (click)="setMenuItemValue('All Status')">All Status</li>
                       <li nz-menu-item (click)="setMenuItemValue('Published')">Published</li>
                       <li nz-menu-item (click)="setMenuItemValue('Draft')">Draft</li>
                       <li nz-menu-item (click)="setMenuItemValue('Scheduled')">Scheduled</li>
                       <li nz-menu-item (click)="setMenuItemValue('Archived')">Archived</li>
                   </ul>
                </nz-dropdown-menu>
            </div>
        </div>
        <div class="border-1 mt-4 border-gray-300 rounded-lg">
            <table class="table-auto w-full">
                <thead class="border-b-1 border-gray-300 bg-gray-100">
                    <tr>
                        <th class="text-start text-gray-500 font-medium text-sm p-2">Title</th>
                        <th class="text-start text-gray-500 font-medium text-sm">Category</th>
                        <th class="text-start text-gray-500 font-medium text-sm">Communities</th>
                        <th class="text-start text-gray-500 font-medium text-sm">Status</th>
                        <th class="text-start text-gray-500 font-medium text-sm">Date</th>
                        <th class="text-start text-gray-500 font-medium text-sm">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for(article of articles; track article.title) {
                        @if (menuItemStatus.value === 'All Status') {
                             <tr class="border-b-1 border-gray-300">
                                <td class="text-start font-semibold p-4">{{article.title}}</td>
                                <td class="text-start text-gray-500">{{article.category}}</td>
                                <td>
                                   <div class="flex flex-row">
                                     <div class="rounded-lg border-transparent" style="background-color: #ecf3f2; color: #377b6c">
                                        <p class="text-center text-[11px] font-semibold h-[8px] pl-2 pr-2">{{article.communities}}</p>
                                    </div>
                                   </div>
                                </td>
        
                                <td>
                                   <div class="flex flex-row">
                                     <div class="rounded-lg border-1" [ngStyle]="{'background-color': getColorByStatus(article.status).bgColor,
                                      'color': getColorByStatus(article.status).color, 
                                       'border-color': getColorByStatus(article.status).color}">
                                        <p class="text-center text-[11px] font-medium h-[8px] pl-2 pr-2">{{article.status}}</p>
                                    </div>
                                   </div>
                                </td>
                                <td class="text-gray-500">
                                  {{article.date}}
                                </td>
                                <td>
                                    <nz-icon class="cursor-pointer" nz-dropdown nzTrigger="click" [nzDropdownMenu]="action" nzType="ellipsis" nzTheme="outline"></nz-icon>
                                    <nz-dropdown-menu #action="nzDropdownMenu">
                                        <ul nz-menu>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="eye" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Preview</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Edit</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="calendar" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Schedule</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2 text-red-600">
                                                    <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Delete</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </td>
                            </tr>  
                        }
                        @if (menuItemStatus.value === article.status) {
                            <tr class="border-b-1 border-gray-300">
                                <td class="text-start font-semibold p-4">{{article.title}}</td>
                                <td class="text-start text-gray-500">{{article.category}}</td>
                                <td>
                                   <div class="flex flex-row">
                                     <div class="rounded-lg border-transparent" style="background-color: #ecf3f2; color: #377b6c">
                                        <p class="text-center text-[11px] font-semibold h-[8px] pl-2 pr-2">{{article.communities}}</p>
                                    </div>
                                   </div>
                                </td>
        
                                <td>
                                   <div class="flex flex-row">
                                     <div class="rounded-lg border-1" [ngStyle]="{'background-color': getColorByStatus(article.status).bgColor,
                                      'color': getColorByStatus(article.status).color, 
                                       'border-color': getColorByStatus(article.status).color}">
                                        <p class="text-center text-[11px] font-medium h-[8px] pl-2 pr-2">{{article.status}}</p>
                                    </div>
                                   </div>
                                </td>
                                <td class="text-gray-500">
                                  {{article.date}}
                                </td>
                                <td>
                                    <nz-icon class="cursor-pointer" nz-dropdown nzTrigger="click" [nzDropdownMenu]="action" nzType="ellipsis" nzTheme="outline"></nz-icon>
                                    <nz-dropdown-menu #action="nzDropdownMenu">
                                        <ul nz-menu>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="eye" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Preview</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="edit" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Edit</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2">
                                                    <nz-icon nzType="calendar" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Schedule</p>
                                                </span>
                                            </li>
                                            <li nz-menu-item>
                                                <span class="flex flex-row gap-2 text-red-600">
                                                    <nz-icon nzType="delete" nzTheme="outline"></nz-icon>
                                                    <p class="relative top-2">Delete</p>
                                                </span>
                                            </li>
                                        </ul>
                                    </nz-dropdown-menu>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            
        </div>
    </div>
</div>

<ng-template #createArticle>
    <h1>Create Article</h1>
    <p class="text-gray-500 font-normal text-sm">Fill in the details to create a new health article.</p>
</ng-template>
