nz-button , .add-article {
    width: auto;
    height: 38px ;
    padding: 8px;
    background-color: #27a288;
    border-color: #27a288;
    border-radius: 9px;
}

nz-button, .menu {
    border-radius: 9px;
}

nz-button, .menu:hover {
    border-color: #27a288;
    color: #27a288;
}

input[type="search"] {
    border: 1px solid var(--color-gray-300);
    height: 32px;
    width: 180px;
    border-radius: 9px;
    text-indent: 25px;
}

input[type="search"]:focus {
    border: 2px solid #27a288;
    outline: none;
}
input[type="search"]::placeholder {
    text-indent: 25px;
}

li:hover {
    background-color: var(--color-orange-400);
}

dialog {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"], input[type="date"] {
    border: 1px solid var(--color-gray-300);
    height: 40px;
    border-radius: 9px;
    text-indent: 10px;
}
input[type="text"]::placeholder {
    text-indent: 10px;
}

input[type="text"]:focus, input[type="date"]:focus {
    outline: none;
    border: 2px solid #27a288;
}

::ng-deep .ant-modal-content {
    width: 700px;
}

select {
    border: 1px solid var(--color-gray-300);
    border-radius: 9px;
    width: 300px;
    height: 40px;
    text-indent: 10px;
}

select:focus {
    outline: none;
    border: 2px solid #27a288;
}
