<div class="flex flex-col p-4">
    <div class="flex sm:flex-row flex-col justify-between">
        <div class="flex flex-col">
            <p class="sm:text-2xl text-base font-semibold sm:h-[10px] ">Content Management</p>
            <p class="text-gray-500 sm:text-sm text-xs">Create, manage and schedule health articles and tips</p>
        </div>
        <div class="p-4">
            <button nz-button nzType="primary" class="add-article">
                <a class="flex flex-row gap-3">
                    <nz-icon nzType="plus" nzTheme="outline" class="relative bottom-2 font-black"></nz-icon>
                    <p class="sm:text-sm text-xs font-semibold">New Article</p>
                </a>
            </button>
        </div>
    </div>
    <div class="grid sm:grid-cols-4 gap-2 mt-4">
        @for (card of cards; track card.index) {
            <div class="bg-white rounded-lg shadow cursor-pointer border-1 hover:border-green-200 border-transparent p-4 sm:h-[100px] h-[80px]">
                <p class="sm:text-[12px] text-[10px] text-gray-500">{{card.label.toUpperCase()}}</p>
                <p class="sm:text-xl text-base font-bold">{{card.value}}</p>
            </div>
        }
    </div>
</div>